<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685044354270-t7eqlm7g5flolj1p44baphgplmosacm5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685044354270-t7eqlm7g5flolj1p44baphgplmosacm5</string>
	<key>API_KEY</key>
	<string>AIzaSyDzXPbrV_KbinPPXhOBcXyMzTm82lDTyHk</string>
	<key>GCM_SENDER_ID</key>
	<string>685044354270</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.marouait.omar</string>
	<key>PROJECT_ID</key>
	<string>omar-db</string>
	<key>STORAGE_BUCKET</key>
	<string>omar-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685044354270:ios:624c5d42012d7f8859464f</string>
</dict>
</plist>